<h1>New release</h1>

<% form_for(@release) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :project_code, "Drupal project short name" %><br />
    <%= f.text_field :project_code %>
  </p>
  <p>
    <%= f.label :drupal_version %><br />
    <%= f.select :drupal_version, [5, 6, 7] %>
  </p>
  <p>
    <%= f.label :release_status, "Release quality" %><br />
    <%= f.select :release_status, ['recommended', 'developer'] %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', releases_path %>
